@import 'variables';



// General Style

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: $light-color;
}

ul {
  list-style: none;
}


h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Header Logo

#header {
  background: url(/dist/img/home/header-img-1920x1080.jpg) no-repeat center left / cover;
  height: 100vh;
}


.main-nav {
  display: flex;
  justify-content: space-between;

  .logo {
    width: 130px;
    padding-left: 2rem;

  }

  .nav-links {
    display: flex;
    margin: auto 2rem auto 0;

    a {
      margin-right: 1.5rem;
      font-size: 1.4rem;
      border-bottom: 3px transparent solid;
      padding-bottom: 0.5rem;
      transition: border-color 0.5s;

      &:hover {
        border-color: $medium-color;
      }

      &.current {
        border-color: $main-color;
      }
    }
  }
}

.header-content {
  h1 {
    color: $light-color;
    font-size: 2.8rem;
    max-width: 20ch;
    margin: 8.5rem 0 0 5.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: italic;

  }

  p {
    padding: 2rem 0 7rem 5.5rem;
    color: $light-color;
    max-width: 60ch;
    line-height: 1.6;
    font-size: 1rem;

  }

  a {
    margin: 0 0 0 5.5rem;
    padding: 0.8rem 2rem;
    background-color: $main-color;
    border-radius: 3px;
  }

  a:hover {
    background-color: $main-color-dark;
  }
}